*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 200px;
}
.container{
    margin: 0 auto;
    padding: 10px;
    width: 95%;
}
h1{
    font-size: 28px;
    color: #00F0FF;
    margin: 10px 0;
    border-bottom: 5px solid #565656;
    display: inline-block;
}
h3{
    font-size: 24px;
    margin: 10px 0;
}

/* index page starts */

/* header section starts */

header{
    background-color: #26ccc3;
    width: 100%;
}

.logo-contact-section{
    background-color: #26ccc3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    width: 10%;
}
.header-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.contact-phone, .contact-mail, .contact-schedule{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
.header-contact img{
    color: #fff;
    background: #22C3E6;
    padding: 10px;
    border-radius: 5px;
}
.header-contact p{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* header section starts */

/* navigation section starts */

.navigation-background{
    background: #22C3E6;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 50px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 2px 10px;
    transition: 0.8s;
}
nav ul a:hover, nav ul .active{
    background-color: #00ffe7;
    box-shadow: 2px 2px 0 #fff;
    color: #565656;
}
.nav-appointment a{
    text-decoration: none;
    background: #fff;
    padding: 4px 10px;
    font-size: 18px;
    border-radius: 30px;
    color: #22C3E6;
}
.nav-appointment a:hover{
    background: linear-gradient(#0ff433, #00ffe7);
    color: #fff;
}

/* navigation section ends */

/* homepage starts */

.homepage-background{
    background-image: url(../images/homepage.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.homepage-background::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #008915, #00ffe7);
    opacity: 0.6;
}
.homepage{
    position: relative;
    padding: 150px 0;
    z-index: 1;
}
.homepage h1{
    font-size: 26px;
    text-decoration: underline;
    border: none;
}
.homepage h3{
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}
.homepage .btn{
    padding: 5px 10px;
    background: none;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}
.homepage .btn:hover{
    background-color: #fff;
    color: #000;
}
.homepage .btn-transparent:hover{
    background-color: #fff;
    border-radius: 30px;
    color: #000;
}

/* homepage ends */

/* table section starts */

.table-background{
    background: #1ABDB4;
}
.table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
}
.table .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table .card{
    flex: 1 1 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.table .first{
    background: #22C3E6;
}
.table .card h3{
    font-size: 26px;
}
.table .card p{
    color: #565656;
}
.table .card-header .fa-solid{
    font-size: 35px;
    color: #22C3E6;
}
.table .first .card-header{
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px;
}
.table .first .card-header .fa-solid{
    color: #fff;
}
.table .card .btn{
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #22C3E6;
    border-radius: 30px;
}
.table .card .btn a{
    text-decoration: none;
    color: #fff;
}
.table .card .btn:hover{
    color: #000;
    background: #26ccc3;
}

/* table section ends */

/* about us section starts */

.about-background{
    background-color: #40AFA9;
}
.about-us{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}
.about-us-image{
    width: 40%;
}
.about-us-image img{
    border-radius: 10px;
}
.about-us-content{
    width: 55%;
    color: #8e5500;
}
.about-us-content h3{
    font-size: 32px;
    margin: 5px 0;
    
}
.about-detail{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}
.about-us-content .btn{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background: #22C3E6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.about-us-content a{
    text-decoration: none;
    color: #fff;
}
.about-us-content .btn:hover{
    color: #000;
    background: #26ccc3;
}
.about-detail-circle{
    background-color: #2F2F2F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding: 30px;
}
.about-detail-circle img{
    margin-bottom: 10px;
}
.about-detail-circle span{
    color: #22C3E6;
}
.about-detail-circle a{
    text-decoration: none;
    color: #fff;
}

/* about us section ends */

/* quote section starts */

.quote-background{
    background-image: url(../images/brushing.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
    font-size: 40px;
    position: relative;
}
.quote-background::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #008915, #00ffe7);
    opacity: 0.6;
}
.quote-background p{
    position: relative;
    z-index: 1;
    color: #fff;
}

/* quote section ends */

/* services section starts */

.services-background{
    background-color: #40AFA9;
}
.services{
    padding-bottom: 30px;
}
.services-header{
    text-align: center;
}
.services-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.services-detail-left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.services-detail-left .card{
    width: 30%;
    background: #fff;
    color: #565656;
    text-align: center;
    padding: 30px 25px;
    border-radius: 10px;
}
.services-detail-left .first{
    background: #22C3E6;
    color: #fff;
}
.services-detail-left .first img{
    background: #0290af;
}
.services-detail-left img{
    margin-bottom: 20px;
    background: #CBCBCB;
    border-radius: 50%;
    padding: 10px;
}
.services-detail-right{
    width: 49%;
    background: #fff;
    border-radius: 10px;
}
.services-detail-right .services-detail-description{
    padding: 10px;
    color: #565656;
}
.services-detail-description .btn{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background: #22C3E6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.services-detail-description a{
    text-decoration: none;
    color: #fff;
}
.services-detail-description .btn:hover{
    color: #000;
    background: #26ccc3;
}

/* services section ends */

/* appointment section starts */

.appointment-background{
    background: #1ABDB4;
}
.appointment-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0;
}
.appointment-content{
    width: 50%;
}
.appointment-content p{
    color: #fff;
}


.appointment-content .btn{
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    transition: 0.5s;
}
.appointment-content a{
    text-decoration: none;
    color: #000;
}
.appointment-content .btn:hover{
    background: #22C3E6;
    border: 2px solid #fff;
}
.appointment-table{
    width: 49%;
    text-align: center;
    background: #fff;
    padding: 20px 70px;
    border-radius: 20px;
}
.appointment-table input{
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #e7e6e6;
    border: none;
}
.appointment-table .choose-name-email, .appointment-table .choose-date-time{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.appointment-table .btn{
    padding: 10px 50px;
    margin-top: 10px;
    font-size: 18px;
    background: #22C3E6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
}
.appointment-table a{
    text-decoration: none;
    color: #fff;
}
.appointment-table .btn:hover{
    color: #000;
    background: #26ccc3;
}

/* appointment section ends  */

/* our dentist section starts */

.our-dentists-background{
    background: #40AFA9;
}
.our-dentists{
    text-align: center;
    padding: 30px 0;
}
.dentists-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dentists-detail{
    width: 32%;
    background-color: #fff;
    padding: 0 0 10px;
}
.dentists-detail p{
    color: #c7c7c7;
}
.dentists-service{
    color: #2F2F2F !important;
    margin-bottom: 5px;
}
.our-dentists .btn{
    padding: 10px 50px;
    margin-top: 30px;
    font-size: 18px;
    background: #22C3E6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.our-dentists a{
    text-decoration: none;
    color: #fff;
}
.our-dentists .btn:hover{
    background: #26ccc3;
    border: 2px solid #fff;
}

/* our dentist section ends */

/* testimonial section starts */

.testimonial-background{
    background: #1ABDB4;
}
.testimonial{
    text-align: center;
    padding: 30px 0;
}
.testimonial-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}
.testimonial-detail{
    width: 49%;
    text-align: left;
    
}
.testimonial-comment{
    background-color: #fff;
    padding: 10px;
    color: #565656;
}
.testimonial-comment h3{
    color: #000;
    font-size: 18px;
}
.testimonial-comment .fa-quote-left{
    margin-right: 10px;
}
.testimonial-comment-name{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #2F2F2F;
    margin-top: 10px;
}
.testimonial-comment-name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* testimonial section ends */

/* footer menu section starts */

.footer-menu-background{
    background-color: #40AFA9;
}
.footer-menu{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-contact{
    width: 49%;
}
.footer-menu p{
    color: #565656;
    cursor: pointer;
}
.footer-contact .contact, .footer-contact .mail{
    display: flex;
    align-items: center;
}
.footer-contact img{
    color: #fff;
    display: inline-block;
    background-color: #22C3E6;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
}

/* footer menu section ends */

/* footer section starts */

footer{
    background-color: #26ccc3;
}
.copyright{
    color: #565656;
}
/* footer section ends */


/* index page ends */


